---
layout: default

title: Miscellaneous
css:
- navbar

navbar:
- name: Home
  url: /

randoms:
- name: School Materials (mostly in Indonesian)
  desc: My school materials. I'm currently in eighth grade :\
  page: https://eightdee.notion.site/Materi-Sekolah-f0e0e7eda5f744508d2312aa8768803e

desc: Miscellaneous
---

{% include navbar.html %}

Miscellaneous!

<ul>

{% for item in page.randoms %}

	<li><a href="{{ item.page }}">{{ item.name }}</a></li>
	<p>{{ item.desc }}</p>

{% endfor %}

</ul>

