---
title: Art
desc: DaringCuteSeal's Artwork
layout: default

css:
- navbar
- grid

navbar:
- name: Home
  url: /

btns:
- name: OCs
  url: oc
  img: /assets/image/oc.png
- name: CGI/3D
  url: cgi
  img: /assets/image/cgi-3d.png

---

{% include navbar.html %}

<p>Note: this page is still a work in progress.</p>

<h1>Art</h1>
<div class="grid">
	{% for btn in page.btns %}
	<div class="grid-item">

		<a href="{{ btn.url }}"><img src="{{ btn.img }}" height=300px></a>
		<p><a href="{{ btn.url }}">{{ btn.name }}</a></p>

	</div>
	{% endfor %}

</div>
