@media (max-width: 715px) {
	.me {
		flex-direction: column;
	}
}

@media (min-width: 716px) {
	.me {
		flex-direction: row;
	}
		img {
			height: 300px;
			width: auto;
		}
}

.me {
	justify-content: center;
	display: flex;
}

.me-img {
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 5px;
}
