---
title: Recent Blog Posts
layout: default
desc: Recent Blog posts by DaringCuteSeal

css:
- navbar

navbar:
- name: Home
  url: /
- name: All Posts
  url: /blog/all
---

{% include navbar.html %}

<p>I do blogs! I post whenever I want about anything I found interesting to share.</p>

<h1>Recent Posts</h1>
<ul>
	{% for i in (0..4) %}
	{% if site.posts[i] %}
		<li>
			{{ site.posts[i].date | date_to_string }} - <a href="{{ site.posts[i].url }}">{{ site.posts[i].title }}</a>
			{% if site.posts[i].postdesc %}
			<p>{{ site.posts[i].postdesc }}</p>
			{% else %}
			<p>{{ site.posts[i].excerpt }}</p>
			{% endif %}

			
		</li>
	{% endif %}
	{% endfor %}
</ul>
