---
title: Blogs index
layout: default

css:
- navbar

navbar:
- name: Home
  url: /

---

{% include navbar.html %}

<p>I (will) do blogs! I post whenever I want about anything, mainly about 3D graphics and programming stuff. You can also <a href="/blog/all">see all my posts.</a></p>
<h1>Recent Posts</h1>
<ul>
	{% for i in (0..4) %}
	{% if site.posts[i] %}
		<li>
			<a href="{{ site.posts[i].url }}">{{ site.posts[i].title }}</a>
			{{ site.posts[i].excerpt }}
		</li>
	{% endif %}
	{% endfor %}
</ul>
