<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/theme.css">

		{% for css in page.css %}
		<link rel="stylesheet" href="/assets/css/{{ css }}.css">
		{% endfor %}

		{% for css in layout.css %}
		<link rel="stylesheet" href="/assets/css/{{ css }}.css">
		{% endfor %}

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% if page.desc %}
		<meta name="description" content="{{ page.desc }}">
		{% elsif page.title %}
		<meta name="description" content="{{ page.title }} - DaringCuteSeal's site">
		{% elsif layout.desc %}
		<meta name="description" content="{{ layout.desc }} - DaringCuteSeal's site">
		{% elsif page.postdesc %}
		<meta name="description" content="{{ page.postdesc }}">
		{% elsif page.excerpt and page.layout == "post" %}
		<meta name="description" content="{{ page.excerpt }}">
		{% else %}
		<meta name="description" content="DaringCuteSeal's site">
		{% endif %}
	</head>
	<body>
		{{ content }}
	</body>
</html>
		
